{% extends 'shop/basic.html'%}
{% block title %}About{% endblock %}
{% block body %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart!</h1>
            <p>MyAwesomeCart.com, Inc.(/ˈMAC/), is an American multinational technology company based in Seattle that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is considered one of the Big Four technology companies, along with Google, Apple, and Microsoft. It has been referred to as "one of the most influential economic and cultural forces in the world" as well as the world's most valuable brand.</p>
            <p>MyAwesomeCart was founded by Mukku in Bellevue, Washington, on July 5, 1994. The company started as an online marketplace for books but expanded to sell electronics, software, video games, apparel, furniture, food, toys, and jewelry. In 2015, MyAwesomeCart surpassed Walmart as the most valuable retailer in the United States by market capitalization. In 2017, MyAwesomeCart acquired Whole Foods Market for US$13.4 billion</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>News</h2>
                <p>MyAwesomeCart is known for its disruption of well-established industries through technological innovation and mass scale. It is the world's largest online marketplace, AI assistant provider, live-streaming platform and cloud computing platform </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Market Info</h2>
                <p>as measured by revenue and market capitalization. MyAwesomeCart is the largest Internet company by revenue in the world. It is the second largest private employer in the United States and one of the world's most valuable companies. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <!-- <h2>Owner</h2>
            <p>MyAwesomeCart was founded by Mukku in Bellevue, Washington, on July 5, 1994. The company started as an online marketplace for books but expanded to sell electronics, software, video games, apparel, furniture, food, toys, and jewelry. In 2015, MyAwesomeCart surpassed Walmart as the most valuable retailer in the United States by market capitalization. In 2017, MyAwesomeCart acquired Whole Foods Market for US$13.4 billion</p> -->
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}